<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Cadastro de Produto</h3>
    </div>
    <form class="panel-body">
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" placeholder="Nome">
        </div>
        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="number" class="form-control" id="preco" placeholder="Preço">
        </div>
        <div class="form-group">
            <label for="imagem">Imagem</label>
            <input type="text" class="form-control" id="imagem" placeholder="Imagem">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Ativo?
            </label>
        </div>
        <div class="text-right">
            <div class="btn-group" role="group" aria-label="...">
                <button class="btn btn-default" [routerLink]="['/catalogo/produtos']"
                    routerLinkActive="router-link-active">Cancelar</button>
                <button class="btn btn-success">Salvar</button>
            </div>
        </div>
    </form>
</div>