<div class="alert alert-info" [hidden]="!carregando">
    <strong>Carregando...</strong>
</div>
<table class="table table-bordered" [hidden]="carregando">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let departamento of departamentos">
            <td>{{departamento.id}}</td>
            <td>{{departamento.nome}}</td>
            <td>
                <app-icone-status [status]="departamento.ativo"></app-icone-status>
            </td>
        </tr>
    </tbody>
</table>