<h3>Produtos</h3>

<div class="alert alert-info" [hidden]="!carregando">
    <strong>Carregando...</strong>
</div>
<hr/>
<button class="btn btn-primary" [routerLink]="['/catalogo/produtos/novo']" >Novo</button>
<hr/>
<table class="table table-bordered table-hover" [hidden]="carregando">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Ativo?</th>
            <th>Foto</th>
           
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produto of produtos">
            <td>{{produto.id}}</td>
            <td>{{produto.nome}}</td>
            <td>{{produto.preco | currency: 'BRL':'symbol'}}</td>
            <td><app-iconestatus [status]="produto.ativo"></app-iconestatus></td>
            <td><img class="thumbnail" [src]="produto.imagem"/></td>
        </tr>      
    </tbody>
</table>