<div class="panel panel-primary">
    <div class="panel-heading">Editar Produto</div>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="salvar()" class="panel-body" novalidate>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input formControlName="nome" type="text" class="form-control" id="nome" placeholder="nome">
            <control-messages [control]="form.get('nome')"></control-messages>
        </div>
        <div class="form-group">
            <label for="preco">Preco</label>
            <input formControlName="preco" type="number" class="form-control" id="preco" placeholder="preco">
            <control-messages [control]="form.get('preco')"></control-messages>
        </div>
        <div class="form-group">
            <label for="imagem">Imagem</label>
            <input formControlName="imagem" type="text" class="form-control" id="imagem" placeholder="imagem">
            <control-messages [control]="form.get('imagem')"></control-messages>
        </div>
        <div class="checkbox">
            <label>
                <input formControlName="ativo" type="checkbox"> Ativo
            </label>
        </div>
        <div class="text-right">
            <a [routerLink]="['/catalogo/produtos']" class="btn btn-text">Cancelar</a>
            <button type="submit" [disabled]="form.pristine" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>